/* Section: Case Studies */
.case-studies {
  background-image: url("/img/chess.jpeg"); /* Adjust the image path */
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.case-studies > article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  min-width: 100vw;
}

.case-studies p {
  margin: 0;
  font-size: 35px;


}

.right {
    text-align: right;
}

/* Section: Client Success Stories */
.clients {
  background-color: #001f8e;
  color: #ffffff;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.clients section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border: 2px solid #ffffff;
}

.clients img {
  max-width: 200px;
  border-radius: 8px;
}

.clients article {
  flex: 1;
}

.clients h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.clients h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.clients p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Call to Action */
.call-to-action {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px;
}

.call-to-action p {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.call-to-action button {
  background-color: #0000ff;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
}

.call-to-action button:hover {
  background-color: #4f00ff;
}

@media (max-width: 768){
  body{
    font-size: small;
  }
}
