@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Navigation style */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  overflow: hidden;
}

.logo-image {
  width: 38px; 
  height: auto;
  margin-left: 20px;
}



.top-nav {
  margin-right: 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  display: flex;
  gap: 50px;
}

.top-nav li {
  display: inline; 
  list-style-type: none; 
  gap: 20px;
}

.top-nav ul {
  display: flex;
  gap: 25px;
}

.top-nav a {
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.top-nav a:hover {
  background-color: #c4c2c2;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.active {
  background-color: #c4c2c2;
  color: white;
  border-radius: 10px;
  padding: 10px;
}


.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .top-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .top-nav.show {
    display: flex; 
    flex-direction: column; 
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: #fafafa;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
  }

  .top-nav ul {
    flex-direction: column; 
    padding: 0; 
    margin: 0; 
  }

  .top-nav li {
    margin: 10px 0;
  }
}




/* Footer Style */
.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 35px;
}

.footer-navigation a {
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
}

.footer-navigation a:hover {
  color: #3f51f2;
}

.footer-navigation hr {
  width: 1px;
  height: 20px;
  background-color: #000;
  border: none;
}

article {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .footer-navigation {
    flex-direction: column;
    gap: 10px;
  }

  .footer-navigation hr {
    display: none;
  }

  article {
    font-size: 16px;
  }
}