@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  overflow: hidden;
}

.logo {
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
  margin-left: 20px;
}

nav {
  margin-right: 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  word-spacing: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

nav a:hover {
  background-color: #c4c2c2;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.active {
  background-color: #c4c2c2;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.hero-page {
  background-image: url("/img/Hero\ page\ background.png");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-color: #3d3d3d;
}

#get-in-touch {
  background-color: #3f51f2;
  border-radius: 30px;
  width: 260px;
  height: 65px;
  border: none;
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  color: #fafafa;
}

#get-in-touch:hover {
  background-color: #fafafa;
  color: #3f51f2;
}

#about-us {
  background-color: #fafafa;
  border-radius: 30px;
  width: 260px;
  height: 65px;
  border: none;
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  color: #3f51f2;
}

.hero-container,
section button {
  position: relative;
  left: 96px;
}

.hero-container h1 {
  width: 779px;
  height: 247px;

  color: #fff;
  font-family: "Roboto Mono";
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px; /* 76.563% */
  margin-bottom: 10px;
  margin-top: 25vh;
}

.hero-container p {
  width: 644px;
  height: 74px;

  color: #fff;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: "Roboto Mono";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  margin-top: 10px;
}

#hero-page {
  color: #3f51f2;
  font-family: "Roboto Mono";
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
}

#who-we-are {
  color: #3f51f2;
  font-family: "Roboto Mono", monospace;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 72px */
  letter-spacing: -0.88px;
}

.who-are-we h1 {
  color: #fff;
  font-family: "Oswald", monospace;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 192px */
  letter-spacing: -0.88px;
  position: relative;
  z-index: 1;
  margin-top: auto;

  width: 932px;
  height: 156px;

  padding-left: 110px;
  top: 100px;
}

.who-are-we p {
  color: #fff;
  font-family: "Roboto Mono";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.88px;
  position: relative;
  z-index: 1;
  width: 932px;
  height: 656px;

  padding-left: 110px;
  padding-top: 49px;
  margin: 0;
}

.who-are-we {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-color: #434343;
}

.who-are-we video {
  position: absolute;
  z-index: 0;
  height: 100vh;
}

.service-overview {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* spacing between columns */
  padding: 20px;
  background-color: #565656;
}

.service-overview section {
  flex: 1 1 calc(25% - 20px); /* four columns */
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.service-overview article {
  text-align: left !important;
  position: relative;
  padding-left: 50px;
  color: #fafafa;
}

.service-overview img {
  max-width: 100%;
  height: auto;
}

.why-loom-rise {
  background-image: url(/img/Why\ Loom\ Rise.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-color: #3d3d3d;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  padding-right: 96px;
}

.why-loom-rise h1 {
  width: 796px;
  height: 150px;
  flex-shrink: 0;
  color: #fff;
  text-align: left;
  font-family: "Roboto Mono" ;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 144px */
  letter-spacing: -0.88px;
  margin-bottom: 0px;

}

.why-loom-rise span {
  color: #3f51f2;
  font-family: "Roboto Mono" ;
  font-size: 96px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: -0.88px;
}

.why-loom-rise p {
  width: 795px;
  color: #fafafa;
  font-family: "Roboto Mono";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 54px */
  letter-spacing: -0.88px;
  padding-bottom: 100px;
  margin: 0px;
}
@media (max-width: 1200px) {
  .service-overview section {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .service-overview section {
    flex: 1 1 100%;
  }
}

article {
  justify-content: space-around;
  max-width: 260px;
  color: #000000;
  font-family: "Roboto Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: -0.88px;
}

@media (max-width: 768px) {
  .service-overview {
    display: grid;
    grid-column: 2;
  }
}
