section.testimonial {
    border-radius: 10px;
    background: radial-gradient(circle, #1e1e42, #121212);
}

.testimonial-2 {
    background: radial-gradient(circle, #223a6f, #121212);
}

.testimonial-3 {
    background: radial-gradient(circle, #44214d, #121212);
}

.testimonial figure {
    border-bottom: 2px solid black;
    height: 33vh;
    padding: 30px 60px;
    text-indent: 20px;
}

blockquote {
    color: white;
}

figure {
    display: grid;
    grid-template-columns: 1fr auto; /* fr means that it will grow and take as much content as possible*/
    align-items: center;
    gap: 20px;
    margin: 0;
}

blockquote {
    margin: 0;
    font-size: 1.2em;
    max-width: 600px;
    font-style: italic;
}

figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    color: #ccc;
}

figcaption .company,
figcaption .position {
    display: block;
    margin: 5px 0;
}

img.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .testimonial figure {
        padding: 20px 50px;
    }
}

@media (max-width: 768px) {
    blockquote {
        font-size: 0.8em;
    }

    .testimonial figure {
        min-width: 50vw;
    }
    
    .company, .position {
        font-size: 0.6em;
    }
}